@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

header{
   
    background-color: #0e2038e7;
  
    box-shadow: 0px 30px 35px -30px rgba(0,0,0,0.62);
}

.barra_dolares{
    grid-column-start: span 2;
    
    background-color:#424242;

    width: 100%;
    display: flex;
    justify-content: center;
}

.barra_dolares ul{
    list-style-type: none;
    color: white;
    display:flex;
}

.barra_dolares li{
    padding:15px;
    margin-left: 30px;
}

.indicador_flecha{
    color: green;
    margin-left: 10px;
    margin-right: 10px;
}

.indicador_flecha3{
    color: red;
    margin-left: 10px;
    margin-right: 10px;
}

.dolar_oficial{
    margin-right: 10px;
}

.dolar_oficial_compra{
    color:lightgreen;
    margin-right: 10px;
}

.dolar_oficial_venta{
    color: lightcoral;
    margin-right: 10px;

}

.dolar_oficial_variacion{
    color: lightgreen;
}

.dolar_oficial_variacion3{
    color: red;
}


@media only screen and (max-width: 900px){
    .barra_dolares{
        transform: translateY(-237px);
        transition: transform 0.3s;
    }
    .barra_dolares--show{
        transform: translateY(0px);
    }
}

@media only screen and (max-width: 1090px){
    .barra_dolares{
        font-size: 0.7em;
    }

    .barra_dolares ul li{
        margin:0;
    }

    .indicador_flecha{
        margin-left: 5px;
        margin-right: 3px;
    }
    
    .dolar_oficial{
        margin-right: 3px;
    }
    
    .dolar_oficial_compra{

        margin-right: 3px;
    }
    
    .dolar_oficial_venta{
        margin-right: 3px;
    
    }
}