@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin:0;
    padding:0;
}

body{
    background-color: #E4E4E4;
}

/* ----------------------------------------------------------------------------- */

header{
    background-color:transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 999;
}

.header_logo{
    width: 100px;
    margin-left: 40px;
}

.header_nav{
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.header_nav_lista_de_paginas{
    display:flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    margin: 0;
    width: 80%;
}

.header_nav_lista_paginas{
    color: white;
    font-family: "Raleway", sans-serif;
    font-size: 1.7em;
    padding: 0px 40px;
    text-align: center;
}

.header_nav_lista_paginas:hover{
    color:#B2AEAC;
}

.header_nav_div_pagina_iniciosesion{
    display: flex;
    justify-content: flex-end;
    width: 20%;
}

.header_nav_pagina_iniciosesion{
    list-style: none;
    justify-content: flex-end;

    margin: 0;
    
}

.header_nav_lista_paginas_iniciosesion{
    color: white;
    font-size: 1.2em;
    font-family: "Raleway", sans-serif;
    padding: 10px;
    margin: 10px;
    width: 105px;
    text-align: center;
    border-radius: 20px;
}

.header_links_paginas:hover{
    color:#B2AEAC;
}

.header_links_paginas{
    text-decoration: none;
    color: white;
}

#header.sticky {
    position: fixed;
    top: 0;
    width: 100%; /* Opcional: asegura que el navbar ocupe el ancho completo */
    z-index: 1000; /* Ajusta según sea necesario */
    background-color: #E4E4E4;
    box-shadow: 0px 30px 35px -30px rgba(0,0,0,0.62);
    height: 80px;
}

#header.sticky .header_nav_lista_paginas_iniciosesion, #header.sticky .header_links_paginas{
    color: #0E2038;
}

#header.sticky .header_logo{
    width: 80px;
    margin-left: 40px;
}

#header.sticky .header_links_paginas:hover{
    color:#B2AEAC;
}


/* ----------------------------------------------------------------------------- */


main{
   /* height: 70vh;*/
}

.Carrusel {
    position: absolute;
    top: 0;
}

/* ----------------------------------------------------------------------------- */

footer{
    background-color: #273C41;

    
}

.footer_div_general{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.footer_div_informacion{
    display: flex;
    width: 50%;
    height: 150px;
    justify-content: space-around;
    align-items: center;
}

.footer_lista_informacion{
    list-style: none;
    color:white;
    font-size: 0.8em;
    font-family: "Raleway", sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    height: 100px;
}

.footer_lista_informacion_item{
    display: flex;
    align-items: center;

}

footer div ul li a{
    text-decoration: none;
    color:white;
}

footer div ul li img{
    color: white;
}

.footer_div_copiright{
    display: flex;
    background-color: #45575B;
    color:white;
    font-size: 0.8em;
    font-family: "Raleway", sans-serif;
    width: 100%;
    height: 35px;
    
    justify-content: center;
    align-items: center;
}


/* Medias Querys */

@media only screen and (max-width: 900px){
    
    .header_nav_lista_paginas{
        font-size: 1em;
    }
    .header_nav_lista_paginas_iniciosesion{
        font-size: 0.8em;
    }

    .header_logo{
        width: 50px;
        margin-left: 40px;
    }

}

@media only screen and (max-width: 570px){
    /*
    header,main,footer{
        padding: 5px;
    }

    body {
        font-size: 10px;
    }
    */
}